[access]
	inheritFrom = All-Projects
[project]
	description = Test Project
[access "refs/*"]
	owner = group user/JaganKavva
[access "refs/for/refs/*"]
	read = group user/JaganKavva
	push = group user/JaganKavva
	label-Code-Review = -2..+2 group user/JaganKavva
	label-Verified = -1..+1 group user/JaganKavva
	rebase = group user/JaganKavva
	removeReviewer = group user/JaganKavva
	submit = group user/JaganKavva
[access "refs/heads/*"]
	read = group user/JaganKavva
	create = group user/JaganKavva
	push = +force group user/JaganKavva
	pushMerge = group user/JaganKavva
[access "refs/tags/*"]
	push = group user/JaganKavva
	push = +force group user/JaganKavva
[receive]
	createNewChangeForAllNotInTarget = true
	requireChangeId = true
[reviewer]
	enableByEmail = true
